/* CSS Document */
div.mainResultsPageSection{
	background: linear-gradient(to bottom, rgba(208,208,208,1.00), white);
	display:table-cell;
}

div.miniSearchSection{
	width:100%;
	height:125px;
	background: linear-gradient(to bottom, rgba(155,155,155,1.00), rgba(208,208,208,1.00));
}

div.miniSearchleftColumn{
	height:100%; 
	width:50%; 
	float:left;
	text-align:center;	
}

div.miniSearchrightColumn{
	height:100%; 
	width:50%; 
	float:right;
	text-align:center;	
}

div.searchedForSection{
	width:100%;
	height:auto;
	float:left;
	background: linear-gradient(to bottom, rgba(198,198,198,1.00), rgba(208,208,208,1.00));
	overflow:hidden;
}

div.resultsSection{
	width:100%;
	height:auto;
	text-align:center;
}

div.resultsSection p {
	padding:1px;
	margin:1px;
}

div.resultsSection a {
	text-decoration:none;
}

div.resultsSection a:hover {
	text-decoration:underline;
}

table.resultsTable {
	border-collapse: collapse; 
	margin-left:auto; 
	margin-right:auto; 
	width:100%; 
	text-align:center;
}

table.resultsTable tr {
	border-bottom: solid thin; 
}

table.resultsTable td {
	padding:5px;
}
